<!DOCTYPE html>
<html>
  {% include common/head %}
  <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base facility-conditions">
    <div class="mdl-layout__container">

      <div class="mdl-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">

        <main class="mdl-layout__content">

        <div class="page-content">
          <div class="mdl-grid facility-conditions-viewport">
            <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--4-col-tablet left mdl-cell--order-1 mdl-cell--order-2-phone">

              {% include facility-conditions/search %}

              {% include facility-conditions/instructions %}

              {% include facility-conditions/header %}

              {% include facility-conditions/tabs %}

            </div>
            <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--order-2 mdl-cell--order-1-phone">
              <div id="map">
                <div id="lead-only-message">*Schools w/ lead data</div>
              </div>
            </div>
          </div>
        </div>

        </main>
      </div>

      <!-- {% include common/footer %} -->
    </div>

    {% include facility-conditions/filter-dialog %}

    {% include common/scripts %}
  </body>
</html>

<script type="text/javascript">
  window.data = {
    schools: {{school-conditions | json}},
    lead: {{lead-summary-2016 | json }}
  }

  window.data.leadByUlcs = data.lead.reduce(function (p, c) {
    if (p[c.ulcs]) {
      p[c.ulcs].push(c)
    } else {
      p[c.ulcs] = [c]
    }
    return p
  },{})

</script>
