<!DOCTYPE html>
<html>
  {% include common/head %}
  <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base about">
    <div class="mdl-layout__container">
      <div class="mdl-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
        {% include common/header %}
        <main class="mdl-layout__content">

          <div class="page-content">
            <div class="mdl-grid">
              <div class="mdl-layout-spacer"></div>
              <a href="{{site.basedir}}/facility-conditions" class="mdl-navigation__link mdl-card mdl-shadow--2dp mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--6-tablet map">
                <i class="icon material-icons">place</i>
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">School Facility Conditions</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  View facility condition information and data for all Philadelphia School District public schools on this page.
                  Information provided is based on what is available from the SDP
                </div>
              </a>
              <div class="mdl-layout-spacer"></div>
              <a href="{{site.basedir}}/lead" class="mdl-navigation__link mdl-card mdl-shadow--2dp mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--6-tablet lead  ">
                <i class="icon material-icons">warning</i>
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">Lead Data</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  View tables, charts and other information related to 2016 lead in water testing in Philadelphia schools. The testing program is ongoing and is currently scheduled to be completed in about 18 months — test results are so far available for twenty nine [29] schools
                </div>
              </a>
              <div class="mdl-layout-spacer"></div>
              <a href="{{site.basedir}}/comparisons" class="mdl-navigation__link mdl-card mdl-shadow--2dp mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--6-tablet comparisons  ">
                <i class="icon material-icons">pie_chart</i>
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">Comparisons</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  View tables, graphs, data and information related to lead in water testing in five [5] other large urban school districts in the U.S. - NYC, Chicago, Washington DC, Seattle, and LA.
                </div>
              </a>
              <div class="mdl-layout-spacer"></div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-layout-spacer"></div>
              <div class="mdl-grid mdl-cell--10-col">
                {{contents}}
              </div>
              <div class="mdl-layout-spacer"></div>
            </div>
          </div>
        </main>
      </div>

      <!-- {% include common/footer %} -->
    </div>

  </body>
</html>
