<div class="mdl-grid mdl-cell--12-col mdl-cell school-profile-default mdl-typography--display-3">
  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <h3>Select a school from the map...</h3>
  </div>
  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <p>
      You can download a master copy of this data <a href="{{site.basedir}}/data/school-conditions.csv">here</a>.
    </p>
    <p>
      View schools on the map by clicking one of the school bubbles.
    </p>

    <p>
      The bubble size on the map reflects the school student population as of the 2015-2016 school year;  bubble color is related to a number called the "Facility Condition Index" [FCI], an industry-standard measurement of a facility's condition. It is typically expressed as a percent; the higher the value the worse the school condition is.
    </p>

    <p>
    The FCI is the ratio of the cost to correct a facility's deficiencies called either the “Condition Assessment Cost” [CAC],
    (i.e.the amount in millions of $$ required to adequately fix the school) or the Current Needed Repairs [NR] to
    something referred to as the Current Replacement Value (CRV), also referred to as the “Replacement  in Kind Value” [RV]. The RV
    represents the hypothetical total cost of rebuilding or replacing an existing facility in current dollars to its
    optimal condition under current codes and construction methods.
    </p>


    <div>
      <p>
        To better understand FCI values the following definitions being used by the SDP should help:
      </p>

      <ul class="mdl-list">
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            &lt; 15% -- Minimal current capital funding required [Good Condition]
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            15% - 25% -- Refurbish Systems [Fair Condition]
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            25% - 45% -- Replace Systems [Poor Condition]
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            45% - 60% -- Funding Becomes Unsustainable - Renovate [Very Poor Condition]
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            &gt; 60% -- Critical Condition
          </span>
        </li>
      </ul>
    </div>

    <p>
      Finally, by clicking on the gear symbol you can type in a school name to search for a specific school.
      It is also possible to use the sliders provided to narrow search criteria to only schools with a defined range of FCI values.
      Finally, you can select to search for only those schools [29 in total] that have been tested for lead in water so far this year.
    </p>
  </div>
</div>

<div class="school-profile mdl-grid mdl-cell--12-col mdl-cell hide">
  <h4>
    <span class="school-name"></span>
    <small class="ulcs"></small>
  </h4>

  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <div class="mdl-cell--6-col label">Region</div>
    <div class="mdl-cell--6-col region"></div>

    <div class="mdl-cell--6-col label">Address</div>
    <div class="mdl-cell--6-col address"></div>

    <div class="mdl-cell--6-col label">Level</div>
    <div class="mdl-cell--6-col level"></div>

    <div class="mdl-cell--6-col label">Councilmanic</div>
    <div class="mdl-cell--6-col councilmanic"></div>

    <div class="mdl-cell--6-col label">Managed By</div>
    <div class="mdl-cell--6-col managed"></div>

    <div class="mdl-cell--6-col label">Principal</div>
    <div class="mdl-cell--6-col principal"></div>

    <div class="mdl-cell--6-col label">Year Built</div>
    <div class="mdl-cell--6-col year"></div>

    <div class="mdl-cell--6-col label">Size [sq ft]</div>
    <div class="mdl-cell--6-col size"></div>

    <div class="mdl-cell--6-col label"># of Student</div>
    <div class="mdl-cell--6-col student-count"></div>
  </div>

  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <div class="mdl-cell--6-col label">
      FCI Rating
      <i id="fci-help" class="icon material-icons">help</i>
      <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="fci-help">
        The FCI is a measure of a building’s condition- the higher the # the worse the condition: <br />
        An FCI of < 15% [good condition]; <br />
        15%-25% [fair condition]; <br />
        24%-45% [poor condition]; <br />
        45%-60% [Very Poor Condition]; <br />
        > 60% [critical condition]
      </div>
    </div>
    <div class="mdl-cell--6-col fci"></div>

    <div class="mdl-cell--6-col label">Econ. Disadvantaged</div>
    <div class="mdl-cell--6-col econ"></div>

    <div class="mdl-cell--6-col label">Special Needs Students</div>
    <div class="mdl-cell--6-col special-needs"></div>

    <div class="mdl-cell--6-col label">
      CRV
      <i id="crv-help" class="icon material-icons">help</i>
      <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="crv-help">
        Current Replacement Value (CRV), also referred to as the <em>"Replacement Value."</em>
        The CRV represents the hypothetical total cost of rebuilding or replacing an existing facility in current
        dollars to its optimal condition under current codes and construction methods.
      </div>
    </div>
    <div class="mdl-cell--6-col crv"></div>

    <div class="mdl-cell--6-col label">
      CAC
      <i id="cac-help" class="icon material-icons">help</i>
      <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="cac-help">
        The CAC [Condition Assessment Cost] also called the NR [Needed Repair] is the cost
        [in millions of $$] to bring the school condition and all systems into a state of good repair.
      </div>
    </div>
    <div class="mdl-cell--6-col cac"></div>

  </div>

  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <h3>Demographics</h3>
    <div class="mdl-grid mdl-cell mdl-cell--12-col">
      <div class="mdl-cell--12-col">
        <div class="demographics-chart ct-chart"></div>
      </div>
    </div>
  </div>

  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <h4>Lead Data
      <small>Current SDP Action Level [AL] for Lead in Water is 15 parts per billion [ppb]</small>
    </h4>
    <div class="mdl-grid mdl-cell mdl-cell--12-col">
      <div class="mdl-cell--12-col lead-container">
        <div class="no-lead">
           * No lead data available
        </div>
        <div class="lead-data">
          <a>View school complete lead data</a>
          <p class="lead-summary"></p>
          <h5>Drinking water outlets above action level:</h5>
          <ul class="outlets"></ul>
        </div
      </div>
    </div>
  </div>

</div>
