<button id="settings-menu"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">settings</i>
</button>

<div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="settings-menu">
  <div class="mdl-grid mdl-cell--12-col">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="search">
        <label class="mdl-textfield__label" for="search">Search...</label>
      </div>
      <div>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="lead-only">
          <input type="checkbox" id="lead-only" class="mdl-switch__input">
          <span class="mdl-switch__label">Lead samples only</span>
        </label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div>
        <div class="mdl-switch__label">Min FCI (<span id="min-fci-output"></span>)</div>
        <input id="min-fci" class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="0">
      </div>
      <div>
        <div class="mdl-switch__label">Max FCI (<span id="max-fci-output"></span>)</div>
        <input id="max-fci" class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="100">
      </div>
    </div>
  </div>
</div>
