<div class="mdl-grid mdl-cell--12-col mdl-cell school-profile-default">
  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <h3>Select a school from the map...</h3>
  </div>
</div>

<div class="school-profile mdl-grid mdl-cell--12-col mdl-cell hide">
  <h2>
    <span class="school-name"></span>
    <small class="ulcs"></small>
  </h2>

  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <div class="mdl-cell--6-col">
      <dl>
        <dt>Region</dt>
        <dd class="region">foobar</dd>
        <dt>Address</dt>
        <dd class="address">foobar</dd>
        <dt>Level</dt>
        <dd class="level">foobar</dd>
      </dl>
    </div>
    <div class="mdl-cell--6-col">
      <dl>
        <dt>Councilmanic</dt>
        <dd class="councilmanic">foobar</dd>
        <dt>Principal</dt>
        <dd class="principal">foobar</dd>
        <dt>Year Built</dt>
        <dd class="year"></dd>
        <dt>Size [sq ft]</dt>
        <dd class="size"></dd>
        <dt># of Student</dt>
        <dd class="student-count"></dd>
      </dl>
    </div>
  </div>

  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <div class="mdl-cell--6-col">
      <dl>
        <dt>FCI Rating</dt>
        <dd class="fci"></dd>
        <dt>Econ. Disadvantaged</dt>
        <dd class="econ"</dd>
        <dt>Special Needs Students</dt>
        <dd class="special-needs"></dd>
        <dt>CRV</dt>
        <dd class="crv">CRV</dd>
        <dt>CAC</dt>
        <dd class="cac">CAC</dd>
      </dl>
    </div>
  </div>

  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <h3>Demographics</h3>
    <div class="mdl-grid mdl-cell mdl-cell--12-col">
      <div class="mdl-cell--12-col">
        <div class="demographics-chart ct-chart"></div>
      </div>
    </div>
  </div>

  <div class="mdl-grid mdl-cell mdl-cell--12-col">
    <h3>Lead Data</h3>
    <div class="mdl-grid mdl-cell mdl-cell--12-col">
      <div class="mdl-cell--12-col lead-container">
        <div class="no-lead">
           * No lead data available
        </div>
        <div class="lead-data">
          <h4>Current SDP Action Level for Lead in water is 15 PPB</h4>
          <h5>Drinking water outlets above action level:</h5>
          <ul class="outlets"></ul>
        </div
      </div>
    </div>
  </div>

</div>
