<div class="mdl-grid mdl-cell--12-col">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="search">
      <label class="mdl-textfield__label" for="search">Search...</label>
    </div>
    <div>
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
        <input type="checkbox" id="switch-1" class="mdl-switch__input">
        <span class="mdl-switch__label">Lead samples only</span>
      </label>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div>
      <span class="mdl-switch__label">Min FCI</span>
      <input class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="0">
    </div>
    <div>
      <span class="mdl-switch__label">Max FCI</span>
      <input class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="100">
    </div>
  </div>
</div>
