<header class="mdl-layout__header is-casting-shadow">
  <div class="mdl-layout__header-row mdl-layout--large-screen-only">
    <i class="material-icons">school</i>
    <h2 class="mdl-layout-title">Healthy School Buildings</h2>
  </div>
  <div class="mdl-layout__tab-bar-container"><div class="mdl-layout__tab-bar-button mdl-layout__tab-bar-left-button"><i class="material-icons">chevron_left</i></div><div class="mdl-layout__tab-bar mdl-js-ripple-effect is-casting-shadow mdl-js-ripple-effect--ignore-events" data-upgraded=",MaterialRipple">
    <a href="{{site.basedir}}/" class=" mdl-layout__tab">About<span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect" data-upgraded=",MaterialRipple"><span class="mdl-ripple"></span></span></a>
    <a href="{{site.basedir}}/facility-conditions" class="is-active mdl-layout__tab">Facility Conditions<span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect" data-upgraded=",MaterialRipple"><span class="mdl-ripple"></span></span></a>
    <a href="{{site.basedir}}/lead" class=" mdl-layout__tab">Lead Data<span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect" data-upgraded=",MaterialRipple"><span class="mdl-ripple"></span></span></a>
    <a href="{{site.basedir}}/comparisons" class=" mdl-layout__tab">Comparisons<span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect" data-upgraded=",MaterialRipple"><span class="mdl-ripple"></span></span></a>
  </div>
  <div class="mdl-layout__tab-bar-button mdl-layout__tab-bar-right-button"><i class="material-icons">chevron_right</i></div></div>
</header>
