<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a class="mdl-layout-title" href="http://www.healthyschoolbuildings.com/">
      <img class="logo logo-dark" alt="logo" src="https://h3vul47x9x-flywheel.netdna-ssl.com/wp-content/uploads/2017/02/weblogo-blk.png">
    </a>

    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>

    <!-- Navigation -->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="http://www.healthyschoolbuildings.com/">Home</a>
      <a class="mdl-navigation__link" href="http://www.healthyschoolbuildings.com/school-data/">School Data</a>
      <a class="mdl-navigation__link" href="http://www.healthyschoolbuildings.com/resources/">Resources</a>
      <a class="mdl-navigation__link" href="http://www.healthyschoolbuildings.com/about-us/">About Us</a>
      <a class="mdl-navigation__link" href="http://www.healthyschoolbuildings.com/our-voice/">Our Voice</a>
      <a class="mdl-navigation__link" href="http://www.healthyschoolbuildings.com/contact/">Contact</a>
    </nav>
  </div>
</header>
