<div class="mdl-grid mdl-cell mdl-cell--12-col">
  <h6 class="mdl-cell mdl-cell--12-col tab-pane-section-header">Details:</h6>

  <div class="mdl-cell--7-col label">CRV</div>
  <div class="mdl-cell--5-col">{{school | get: 'Replacement Cost [CRV]' | currency }}</div>

  <div class="mdl-cell--7-col label">CAC</div>
  <div class="mdl-cell--5-col">{{school | get: 'Condition Assessment Cost [CAC]' | currency}}</div>

  <div class="mdl-cell--7-col label">FCI Rating</div>
  <div class="mdl-cell--5-col">{{school | get: 'Facility Condition Index [FCI]' | percentage}}</div>

</div>

<div class="mdl-cell mdl-cell--12-col fci-gauge"><svg></svg></div>

<hr />

<p>
The FCI is the ratio of the cost to correct a facility's deficiencies called either the “Condition Assessment Cost” [CAC],
(i.e.the amount in millions of $$ required to adequately fix the school) or the Current Needed Repairs [NR] to
something referred to as the Current Replacement Value (CRV), also referred to as the “Replacement  in Kind Value” [RV]. The RV
represents the hypothetical total cost of rebuilding or replacing an existing facility in current dollars to its
optimal condition under current codes and construction methods.
</p>

<div>
  <p>
    To better understand FCI values the following definitions being used by the SDP should help:
  </p>

  <ul class="mdl-list">
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        &lt; 15% -- Minimal current capital funding required [Good Condition]
      </span>
    </li>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        15% - 25% -- Refurbish Systems [Fair Condition]
      </span>
    </li>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        25% - 45% -- Replace Systems [Poor Condition]
      </span>
    </li>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        45% - 60% -- Funding Becomes Unsustainable - Renovate [Very Poor Condition]
      </span>
    </li>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        &gt; 60% -- Critical Condition
      </span>
    </li>
  </ul>
</div>
