<h4 class="school-header">
  <span class="school-name">{{school | get: 'School Name (ULCS)'}}</span>
  <small class="ulcs">{{school | get: 'ULCS Code'}}</small>
  <a href="../" class="material-icons clear">clear</a>
</h4>
