<div class="mdl-grid mdl-grid--no-spacing school-search mdl-typography--display-3">
  <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="search">
      <label class="mdl-textfield__label" for="search">Search...</label>
    </div>
    <i class="material-icons">search</i>
  </div>

  <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone filter">
    <button id="filter-options" type="button" class="mdl-button">Filter</button>
  </div>
</div>
