
.fci-gauge {
  height: 130px;

  svg {
    width: 100%;
    height: 100%;

    .axis {
      line, path {
        fill: none;
        stroke: #000;
      }
    }

    .needle {
      fill: #464A4F;
    }
  }
}
