@import "leaflet";
@import "node_modules/chartist/dist/scss/chartist.scss";

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
}

p {
  font-size: 16px;
}

.mdl-layout__header-row {
  padding-left: 10px;

  .material-icons {
    font-size: 64px;
    padding-right: 20px;
  }

  .mdl-layout-title {
    font-size: 36px;
  }
}

.mdl-layout__tab-bar-container {
  margin-top: 10px;
}

.facility-conditions-viewport {
  padding: 0;
  height: 100vh;
  width: 100%;
  position: fixed;

  .hide {
    display: none;
  }

  #map {
    height: 100vh;
  }

  .right {
    height: calc(100% - 100px);
    padding-top: 0;
    margin-top: 0;

    > :first-child {
      padding-top: 0;
    }

    hr {
      padding: 0;
      margin: 0;
    }

    #settings-menu {
      box-sizing: border-box;
      position: absolute;
      right: 16px;
    }

    .school-profile {
      overflow-y: scroll;
      height: calc(100% - 60px);

      .demographics-chart {
        height: 400px;

        .ct-label {
          font-size: 1.5rem;
        }
      }

      h2 {
        margin-top: 0;
      }

      .label {
        font-size: 20px;
        line-height: 40px;
        font-weight: 600;
        padding-top: 3px;
        padding-bottom: 3px;

        + div {
          font-size: 18px;
          line-height: 40px;
          padding-top: 3px;
          padding-bottom: 3px;
        }
      }
    }
  }
}

.about {

  .mdl-card {
    margin-top: 50px;
    height: 400px;
    margin-bottom: 40px;

    &.map > .mdl-card__title {
      //background: url('{{site.basedir}}/images/map-card.jpg') center / cover;
    }

    .icon {
      font-size: 164px;
      text-align: center;
    }

    .mdl-card__supporting-text {
      min-height: 100px;
    }

    > .mdl-card__actions {
      height: 52px;
      padding: 16px;
      background: rgba(0, 0, 0, 0.2);
    }

    span {
      color: #fff;
      font-size: 18px;
      font-declaration: none;
      font-weight: 500;
    }
  }
}

.lead-summary {
  .chart-container {
    height: 750px;

    .ct-chart {
      height: 100%;

      .ct-label {
        font-size: 1.25rem;
      }
    }
  }

  .table {
    table {
      width: 100%;
    }
    margin-top: 50px;
  }
}

