@import "chart-colors.scss";

@import "leaflet";
@import "node_modules/chartist/dist/scss/chartist.scss";
@import "dialog-polyfill";
@import "chartist-plugin-tooltip";
@import "ct-legend";
@import "immybox";
@import "fci-gauge";
@import "lead-detail";

::-webkit-scrollbar {
  display: none;
}

.facility-conditions {

  .instructions {
    margin-top: -30px;

    .fci-legend {
      background-image: url('../images/fci-ratings.png');
      background-repeat: no-repeat;
      height: 350px;
      margin-left: 50px;
    }
  }

  h4 {
    padding-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(143, 143, 143);
    line-height: 1.2;
  }

  p, div.label {
    margin-left: 20px;
  }

  #conditions {
    .fci {
      padding-top: 20px;

      .fci-rating-rank {
        text-transform: uppercase;
        font-size: 18px;
      }

      &.fci-rating {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }

  #data-reports {
    .pdf-img {
      height: 115px;
      background-image: url('../images/pdf.png');
      background-repeat: no-repeat;
    }

    .doc-img, .docx-img {
      height: 115px;
      background-image: url('../images/word.png');
      background-repeat: no-repeat;
    }

    .xls-img {
      height: 115px;
      background-image: url('../images/xls.png');
      background-repeat: no-repeat;
    }
  }

  dialog {

    /* for small devices, modal dialogs go full-screen */
    @media screen and (min-width: 1128px) {
      top: 64px;
      left: -685px;
    }

    width: 425px;
    max-width: 100%;

    .mdl-dialog__content {
      padding: 0;

      h6 {
        text-transform: uppercase;
      }

      .mdl-switch.is-checked {
        .mdl-switch__thumb {
          background: #77bcb7;
        }

        .mdl-switch__track {
          background: #77bcb7;
          opacity: .5;
        }

      }

      .mdl-slider {
        &:active::-webkit-slider-thumb,
        &::-webkit-slider-thumb {
            background: #77bcb7 !important;
        }

        &:active::-moz-range-thumb,
        &::-moz-range-thumb {
            background: #77bcb7 !important;
        }

        &:active::-ms-thumb,
        &::-ms-thumb {
            background: #77bcb7 !important;
        }
      }

      .mdl-slider__background-lower  {
        color: #77bcb7;
        background: #77bcb7;
      }
    }
  }
}

.images {
  .image-container {
    height: 200px;
    margin-bottom: 80px;

    .thumb {
      height: 100%;
      width: 100%;

      > a {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

.report-pdf .pdf-icon {
  font-size: 175px;
}

header.mdl-layout__header {
  background-color: #f8f8f8;

  .mdl-layout__header-row .mdl-navigation__link {
    color: #232323;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
  }
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after, .mdl-textfield__label:after {
  background: #77bcb7;
}

body {
  height: 100%;
}

.hide {
  display: none;
}

p {
  font-size: 16px;
}

.immybox.immybox_witharrow {
  background-image: none;
}

.mdl-layout__header-row {
  padding-left: 10px;

  .material-icons {
    font-size: 64px;
    padding-right: 14px;
  }

  .mdl-layout-title {
    font-size: 36px;
  }
}

.mdl-layout__tab-bar-container {
  margin-top: 10px;
}

.facility-conditions-viewport {
  padding: 0;
  height: 100vh;
  width: 100%;
  position: fixed;

  .search {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 22px;
  }

  #map {
    height: 100vh;

    .leaflet-popup .leaflet-popup-close-button {
      display: none;
    }

    .leaflet-popup-content {
      text-align: center;
      font-size: 12px;
      span.ulcs {
        font-weight: 300;
      }
    }

    i.reset-icon  {
      cursor: pointer;
      color: #666;
      left: -33px;
      position: absolute;
    }

    #lead-only-message {
      top: 0;
      position: absolute;
      right: 0;
      font-size: 18px;
      color: red;
      z-index: 444;
      display: none;
    }

    &.lead-only {
      #lead-only-message {
        display: block;
      }
    }
  }

  @media (max-width: 479px) {
    height: 100vh;
    position: relative;

    #map {
      height: 400px;
    }
  }

  @media (min-width: 480px) {
    .left {
      overflow-y: scroll;
      height: calc(100% - 60px);
    }
  }

  .left {
    padding-top: 0;
    margin-top: 0;

    > :first-child {
      padding-top: 0;
    }

    .school-search {
      .mdl-textfield {
        width: calc(100% - 15px);
      }

      i.material-icons {
        margin-left: -50px;
      }

      .filter {
        font-size: 26px;
        line-height: 100px;
      }

    }

    .school-header {
      margin-top: 0;
      margin-left: 20px;

      small {
        vertical-align: top;
      }

      a.material-icons.clear {
        float: right;
        cursor: pointer;
        font-size: 30px;
        font-weight: 600;
      }
    }

    .label {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    .demo-container {
      .demographics-chart {
        height: 300px;
      }
      .legend-container {
        padding-top: 40px;
      }
    }
  }
}

.about {

  .mdl-card {
    margin-top: 50px;
    height: 400px;
    margin-bottom: 40px;

    &.map > .mdl-card__title {
      //background: url('{{site.basedir}}/images/map-card.jpg') center / cover;
    }

    .icon {
      font-size: 164px;
      text-align: center;
    }

    .mdl-card__supporting-text {
      min-height: 100px;
    }

    > .mdl-card__actions {
      height: 52px;
      padding: 16px;
      background: rgba(0, 0, 0, 0.2);
    }

    span {
      color: #fff;
      font-size: 18px;
      font-declaration: none;
      font-weight: 500;
    }
  }
}

.lead-summary {
  .chart-container {
    height: 750px;

    .ct-chart {
      height: 100%;

      .ct-label {
        font-size: 1.25rem;
      }
    }
  }

  .table {
    table {
      width: 100%;
    }
    margin-top: 50px;
  }
}

.lead-detail {
  table {
    width: 100%;
  }
}
