@import "chart-colors.scss";

@import "leaflet";
@import "node_modules/chartist/dist/scss/chartist.scss";
@import "dialog-polyfill";
@import "chartist-plugin-tooltip";
@import "ct-legend";
@import "immybox";

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
}

p {
  font-size: 16px;
}

.immybox.immybox_witharrow {
  background-image: none;
}

.mdl-layout__header-row {
  padding-left: 10px;

  .material-icons {
    font-size: 64px;
    padding-right: 14px;
  }

  .mdl-layout-title {
    font-size: 36px;
  }
}

.mdl-layout__tab-bar-container {
  margin-top: 10px;
}

.facility-conditions-viewport {
  padding: 0;
  height: 100vh;
  width: 100%;
  position: fixed;

  .hide {
    display: none;
  }

  #map {
    height: 100vh;

    .leaflet-popup .leaflet-popup-close-button {
      display: none;
    }

    #lead-only-message {
      top: 0;
      position: absolute;
      right: 0;
      font-size: 18px;
      color: red;
      z-index: 444;
      display: none;
    }

    &.lead-only {
      #lead-only-message {
        display: block;
      }
    }
  }

  @media (max-width: 479px) {
    height: 100vh;
    position: relative;

    #map {
      height: 400px;
    }
  }

  @media (min-width: 480px) {
    .left {
      overflow-y: scroll;
      height: 100%;
    }
  }

  .left {
    padding-top: 0;
    margin-top: 0;

    > :first-child {
      padding-top: 0;
    }

    .school-search {
      .mdl-textfield {
        width: calc(100% - 15px);
      }

      i.material-icons {
        margin-left: -50px;
      }

      .filter {
        font-size: 26px;
        line-height: 100px;
      }

    }

    &.school-selected {
      .school-header, .mdl-tabs {
        display: block;
      }

      .school-header {
        margin-top: 0;
        margin-left: 20px;

        small {
          vertical-align: top;
        }

        i.material-icons.clear {
          float: right;
          cursor: pointer;
        }
      }

      .tab-pane-section-header {
        text-transform: uppercase;
      }

      .label {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }

      #profile-panel {
        .demographics-chart {
          height: 300px;
        }
      }
    }

    .school-header, .mdl-tabs {
      display: none;
    }
  }
}

.about {

  .mdl-card {
    margin-top: 50px;
    height: 400px;
    margin-bottom: 40px;

    &.map > .mdl-card__title {
      //background: url('{{site.basedir}}/images/map-card.jpg') center / cover;
    }

    .icon {
      font-size: 164px;
      text-align: center;
    }

    .mdl-card__supporting-text {
      min-height: 100px;
    }

    > .mdl-card__actions {
      height: 52px;
      padding: 16px;
      background: rgba(0, 0, 0, 0.2);
    }

    span {
      color: #fff;
      font-size: 18px;
      font-declaration: none;
      font-weight: 500;
    }
  }
}

.lead-summary {
  .chart-container {
    height: 750px;

    .ct-chart {
      height: 100%;

      .ct-label {
        font-size: 1.25rem;
      }
    }
  }

  .table {
    table {
      width: 100%;
    }
    margin-top: 50px;
  }
}

.lead-detail {
  table {
    width: 100%;
  }
}
